﻿@using Microsoft.AspNetCore.Components.Web

<h1>Two way data binding</h1>
<input type="range" step="1" @bind-value="SliderValue" @bind-value:event="oninput"/>

<p>Slider Value: @SliderValue</p>

@code {
    int SliderValue = 0;
}
