﻿@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

<p>Current count: @currentCount</p>

<button @onclick="IncrementCount">Click me</button>

@code {
    // Field
    int currentCount;

    // Public property
    [Parameter]
    public int IncrementAmount { get; set; } = 1;
    
    // Method that increments the field
    void IncrementCount() => currentCount += IncrementAmount;
}
