﻿@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

<p>Components can have parameters - here I'm passing IncrementAmount=10 to the CParameters.razor component</p>

<CParameters IncrementAmount="10" />

@code {

}
