﻿@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using DMCrafts.WebB.Services

@inject WeatherForecastService ForecastService

@*<h1>@Title</h1>*@

<p>This component demonstrates fetching data from a service.</p>

@*<p>I was rendered at @TimeRendered</p>*@

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in forecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    WeatherForecast[] forecasts;

    private string Title { get; set; }
    private string TimeRendered { get; set; }

    //protected override void OnInitialized()
    //{
    //    Title = "Hello World";
    //    TimeRendered = DateTime.Now.ToLongTimeString();
    //}
    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
