﻿@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using DMCrafts.WebB.Services

<h1>My Razor Page</h1>

<form>
    <input type="number" asp-for="InitialValue" />
    <button type="submit">Set initial value</button>
</form>

@code
{

}
@*@(await Html.RenderComponentAsync<MyComponent>(RenderMode.Static,*@
    @*new { InitialValue = InitialValue }))*@

@*@code {
    [BindProperty(SupportsGet=true)]
    public int InitialValue { get; set; }
}*@
