﻿@using Microsoft.AspNetCore.Components.Web
@using DMCrafts.WebB.Models
@using DMCrafts.WebB.Services

@inject JsonFileProductService ProductService

<h1>@*@selectedProduct?.Title*@</h1>

@foreach (var product in ProductService.GetProducts())
{
    <h5>@product.Title</h5>
    <!-- blazor onclick event handled on the server -->
    @*<button @onclick="e => SelectProduct(product.Id)">More Info</button>*@
    <p>
        @product.DaveScore
        <button @onclick="e => UpdateDaveScore(product.Id)">Add to DaveScore</button>
    </p>
}

@code {
    // blazor manages state on the server
    //Product selectedProduct;

    //void SelectProduct(string productId)
    //{
    //    selectedProduct = ProductService.GetProducts().First(x => x.Id == productId);
    //}

    void UpdateDaveScore(string productId)
    {
        ProductService.UpdateDaveScore(productId);
    }
}
