﻿@page
@using DMCrafts.WebB.Components
@model ACounterModel

ACounter page

@(await Html.RenderComponentAsync<ACounter>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>
