﻿@page
@using DMCrafts.WebB.Components
@model ASlider

ASlider page

@(await Html.RenderComponentAsync<Components.ASlider>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>
