﻿@page
@using DMCrafts.WebB.Components
@model BUseComponents

@(await Html.RenderComponentAsync<Components.BUseComponents>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>
