﻿@page "/DWeatherFetchData"
@using DMCrafts.WebB.Components
@model DWeatherFetchData

Weather here

@(await Html.RenderComponentAsync<Components.DWeatherFetchData>
    (RenderMode.ServerPrerendered))
    @*(RenderMode.Server))*@

<script src="_framework/blazor.server.js"></script>
