﻿@page ""
@using DMCrafts.WebB.Components
@model ENonInteractivePassing
<h1>My Razor Page</h1>

@*<form>
    <input type="number" asp-for="InitialValue" />
    <button type="submit">Set initial value</button>
</form>

@(await Html.RenderComponentAsync<MyComponent>(RenderMode.Static, 
    new { InitialValue = InitialValue }))

@code {
[BindProperty(SupportsGet=true)]
public int InitialValue { get; set; }
}

<script src="_framework/blazor.server.js"></script*@>
