﻿@page
@using DMCrafts.WebB.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

Hello world

@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>
